  .btn-IrTruco {
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ffb351;
    border-radius: 6px;
    color: #ff0000;
    font-weight: bold;
    transition: ease-in 0.3s;
  }
  .btn-IrTruco:hover {
    background-color: #63d9fa;
    color: rgb(255, 0, 0);
    cursor: pointer;
  }

  .btn-IrCalculos {
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 6px;
    color: #61dafb;
    font-weight: bold;
    transition: ease-in 0.3s;
  }
  .btn-IrCalculos:hover {
    background-color: #50a4aa;
    color: rgb(0, 238, 255);
    cursor: pointer;
  }

  .btn-IrMedia {
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #46f07f;
    border-radius: 6px;
    color: #00ffb3;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-IrMedia:hover {
    background-color: #53aa77;
    color: rgb(54, 231, 107);
    cursor: pointer;
  }

  .btn-IrCalc {
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #70bfe4;
    border-radius: 6px;
    color: #005186;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-IrCalc:hover {
    background-color: #1fc0ff;
    color: rgb(2, 72, 112);
    cursor: pointer;
  }