.App-Marca {
    text-align: center;
    font-family: monospace;
  }

  .btn-MarcadorP{
    font-family: monospace;
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 6px;
    color: #61dafb;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-MarcadorP:hover{
      cursor: pointer;
      background-color: #00eeff;
      color: #000000;
  }

  .btn-ToMain1{
    font-family: monospace;
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 6px;
    color: #61dafb;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-ToMain1:hover{
      cursor: pointer;
      color: #ffffff;
      background-color: #002c55;
  }

  .btn-Add-Pts{
    font-family: monospace;
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #00617c;
    border-radius: 6px;
    color: #0096c0;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-Add-Pts:hover{
      cursor: pointer;
      background-color: #0096c0;
      color: #17191f;
  }
  
  .sel-box{
    width: 155px;
    height: 30px;
    font-family: cursive;
    font-size: 14px;
    padding: 5px;
    background-color: #000000;
    color: white;
  }