.App {
    text-align: center;
  }

  .Add-body {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-MarcadorM{
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ffae00;
    border-radius: 6px;
    color: #ffa600;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-MarcadorM:hover{
      cursor: pointer;
      background-color: #ff9100;
      color: #000000;
  }

  .btn-ToMain2{
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #ffae00;
    border-radius: 6px;
    color: #ffa600;
    font-weight: bold;
    transition: ease-in 0.3s;
  }

  .btn-ToMain2:hover{
    cursor: pointer;
    background-color: #d48113;
    color: #000000;
  }

  .btn-mudou{
    padding: 5px 16px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    transition: ease-in 0.3s;
    background-color: #000000;
  }

  .btn-mudou:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
